<h1><small>Listing ads</small></h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Adcategory</th>
      <th>Descriptoin</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.name %></td>
        <td><%= ad.adcategory %></td>
        <td><%= ad.description %></td>
        <td><%= ad.price %></td>
        <td><%= link_to 'Show', ad %></td>
        <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
        <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad', new_ad_path %>
